<div class="login span6">
  <%= devise_error_messages! %>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, class: 'form-inline well' }) do |f| %>
    
    <div class="input-prepend">
      <span class="add-on"><i class="icon-envelope"></i></span><%= f.email_field :email, autocomplete: :off, placeholder: 'E-mail', class: 'input-large' %>
    </div>

    <%= f.submit "Send me reset password instructions", class: 'btn btn-primary' %>
  <% end %>
  

</div>